.header {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
 }
 
 .logo{
    width :110px;
 }
 .nav-item{
     padding: 0px 9px;
 }
 
 .nav-item > ul {
     display: flex;
     font-size: 20px;
    list-style-type: none;
 }
 .nav-item > ul> li{
      padding: 10px ; 
      margin: 10px;
 }
 .res-container{
     display: flex;
     flex-wrap: wrap;
 
 }
 .res-card{
     width: 200px;
     height: 300px; 
     padding: 5px;
     font-size: 12px;
     /* color:  #222    ; */
   
 }
 .res-card:hover {
     border: 1px solid black;
     cursor: pointer;
 }
 
 .search{
     padding: 10px;
 }
 .res-logo {    
     width: 100%;
     /* margin: 5px; */
     /* height: ;    */
     /* padding: 5px; */
 }